<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>practica2.servlets.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorImagen</servlet-name>
        <servlet-class>practica2.servlets.ControladorImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>abc</servlet-name>
        <servlet-class>practica2.servlets.abc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPerfil</servlet-name>
        <servlet-class>practica2.servlets.ControladorPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPDF</servlet-name>
        <servlet-class>practica2.servlets.ControladorPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTitulos</servlet-name>
        <servlet-class>practica2.servlets.ControladorTitulos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarPDF</servlet-name>
        <servlet-class>practica2.servlets.MostrarPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSuscriptor</servlet-name>
        <servlet-class>practica2.servlets.ControladorSuscriptor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorComentarios</servlet-name>
        <servlet-class>practica2.servlets.ControladorComentarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLikes</servlet-name>
        <servlet-class>ControladorLikes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLike</servlet-name>
        <servlet-class>practica2.servlets.ControladorLike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAdministrador</servlet-name>
        <servlet-class>practica2.servlets.ControladorAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCuota</servlet-name>
        <servlet-class>practica2.servlets.ControladorCuota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBloqueos</servlet-name>
        <servlet-class>practica2.servlets.ControladorBloqueos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCategoria</servlet-name>
        <servlet-class>practica2.servlets.ControladorCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorReportesEditor</servlet-name>
        <servlet-class>practica2.servlets.ControladorReportesEditor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSegundoReporteEditor</servlet-name>
        <servlet-class>practica2.servlets.ControladorSegundoReporteEditor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorImagen</servlet-name>
        <url-pattern>/ControladorImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>abc</servlet-name>
        <url-pattern>/abc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPerfil</servlet-name>
        <url-pattern>/ControladorPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPDF</servlet-name>
        <url-pattern>/ControladorPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTitulos</servlet-name>
        <url-pattern>/ControladorTitulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarPDF</servlet-name>
        <url-pattern>/MostrarPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSuscriptor</servlet-name>
        <url-pattern>/ControladorSuscriptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorComentarios</servlet-name>
        <url-pattern>/ControladorComentarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLikes</servlet-name>
        <url-pattern>/ControladorLikes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLike</servlet-name>
        <url-pattern>/ControladorLike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAdministrador</servlet-name>
        <url-pattern>/ControladorAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCuota</servlet-name>
        <url-pattern>/ControladorCuota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBloqueos</servlet-name>
        <url-pattern>/ControladorBloqueos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCategoria</servlet-name>
        <url-pattern>/ControladorCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorReportesEditor</servlet-name>
        <url-pattern>/ControladorReportesEditor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSegundoReporteEditor</servlet-name>
        <url-pattern>/ControladorSegundoReporteEditor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <dependency>
        <groupId>javax.servlet</groupId>
        <artifactId>jstl</artifactId>
        <version>1.2</version>
    </dependency>
</web-app>
